{% extends 'base.html' %}

{% block title %} Index Page {% endblock title %}

{% block content %}
  <div class = "container">
    <div class="row">
      <h1 class="text-center my-5" style="background-color: gold;"> MAHSULOTLAR</h1>
      {% for product in products %}
        <div class="col-md-4 my-3">
          <div class="" style="width: 17.7rem;">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="rounded-5 card-title text-center" alt="Bu yerda rasm bor edi" height="120px" width="120px" >
            {% endif %}
            <div class="card-body">
              <h5 class="card-title text-center">{{ product.title}}</h5>
              <h6 class="card-text text-center">Price: {{ product.price}} $</h6>
              <div class="d-grid gap-2">
                <a class="btn btn-outline-warning rounded-5 " href="{% url 'product_detail' product.pk %}" >Batafsil</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

